<!DOCTYPE html>
<html>
<head>
<title>My Blog</title>
</head>
<body style="margin: 0; padding: 0;">

<nav style="background-color: #333; color: #fff; padding: 10px;">
  <ul style="list-style: none; margin: 0; padding: 0;">
    <li style="display: inline; margin-right: 20px;"><a href="#" style="color: #fff; text-decoration: none;">Home</a></li>
    <li style="display: inline; margin-right: 20px;"><a href="#" style="color: #fff; text-decoration: none;">About</a></li>
    <li style="display: inline; margin-right: 20px;"><a href="#" style="color: #fff; text-decoration: none;">Blog</a></li>
    <li style="display: inline; margin-right: 20px;"><a href="#" style="color: #fff; text-decoration: none;">Contact</a></li>
    <li style="float: right;"><a href="#" style="color: #fff; text-decoration: none;  margin-left: 10px;">Login</a></li>
    <li style="float: right;"><a href="/signup" style="color: #fff; text-decoration: none; margin-left: 10px;">Signup</a></li>
  </ul>
</nav>

<h1 style="text-align: center; margin-top: 50px;">Welcome to My Blog</h1>

<p style="margin: 20px;">This is a simple landing page for my blog. I will be writing about a variety of topics, including technology, travel, and food.</p>

<p style="margin: 20px;">I hope you enjoy reading my blog!</p>

</body>
</html>